.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* --- PANEL IZQUIERDO --- */
.left-panel { 
  width: 90%;
  background: linear-gradient(135deg, #9b5cf6, #56c1ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-img {
  width: 100%;
  height: 120%;
  max-width: 900px;
}

/* --- PANEL DERECHO --- */
.right-panel {
  width: 40%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  box-shadow: -3px 0 15px rgba(0,0,0,0.1);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #0171c2;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #77b12c;
  margin-left: 10px;
}

/* Inputs */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
}

.input-group .icon {
  margin-right: 10px;
  color: #0171c2;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* Checkbox */
.options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Botón */
.btn-login {
  width: 100%;
  background: #02c6dd;
  border: none;
  padding: 12px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #049fb3;
}


/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    height: 40vh;
  }

  .right-panel {
    width: 100%;
    height: 60vh;
  }
}
