<div class="login-container">
  
  <div class="left-panel">
    <img src="assets/img/logeoimg.png" alt="Medicitas" class="left-img">
  </div>

  <div class="right-panel">

    <div class="header">
      <span class="title">MEDICITAS</span>
      <span class="subtitle">INICIAR SESIÓN</span>
    </div>

    <form [formGroup]="formLogin" (ngSubmit)="login()" class="login-form">

      <div class="input-group">
        <i class="fa fa-user icon"></i>
        <input type="text" placeholder="Ingresa DNI" formControlName="dni">
      </div>

      <div class="input-group">
        <i class="fa fa-lock icon"></i>
        <input type="password" placeholder="Ingresa Contraseña" formControlName="password">
      </div>

      <div class="options">
        <input type="checkbox">
        <label>Recordarme</label>
      </div>

      <button type="submit" class="btn-login">
        INGRESAR
      </button>
      <div class="register-link">
        <p>¿No tienes cuenta? <a routerLink="/signup">Regístrate aquí</a></p>
      </div>

    </form>

  </div>

</div>

