<div class="sidebar">

  <h4 class="title">MediCitas</h4>

  <ul class="menu">

    <li>
      <span>Historia</span>
      <ul>
        <li>Consulta</li>
      </ul>
    </li>

    <li>
      <span>Programación</span>
      <ul>
        <li>Citas</li>
        <li>Historias</li>
      </ul>
    </li>

    <li>
      <span>Maestros</span>
      <ul>
        <li>Empleado</li>
        <li>Salas</li>
        <li>Agentes</li>
        <li>Terapeutas</li>
        <li>Misceláneos</li>
      </ul>
    </li>

    <li>
      <span>Calendario</span>
      <ul>
        <li>Horario</li>
      </ul>
    </li>

    <li>
      <span>Seguridad</span>
      <ul>
        <li>Usuario</li>
        <li>Perfil</li>
      </ul>
    </li>

    <li><span>Compañía</span></li>
    <li><span>Sucursal</span></li>

  </ul>
</div>
