<div class="sidebar">

  <h4 class="title">MediCitas</h4>

  <ul class="menu">

    <li>
      <span>Historia</span>
      <ul>
        <li>Consulta</li>
      </ul>
    </li>

    <li>
      <span>Programación</span>
      <ul>
        <li>Citas</li>
        <li>Historias</li>
      </ul>
    </li>

    <li>
      <span>Maestros</span>
      <ul>
        <li><a routerLink="/doctors">Doctores</a></li>
        <li>Salas</li>
        <li>Agentes</li>
        <li>Terapeutas</li>
        <li>Misceláneos</li>
      </ul>
    </li>

    <li>
      <span>Calendario</span>
      <ul>
        <li>Horario</li>
      </ul>
    </li>

     

  </ul>
</div>
